---
import Login from '../components/Login.astro'
---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Magic Astro Demo 🌎</title>
</head>

<body>
	<h1>Welcome to your new <a href="https://astro.build/">Astro</a> site with passwordless authentication powered by <a href="https://magic.link">Magic</a>.</h1>
	<Login />
</body>

</html>
